*, *::after, *::before{
    box-sizing: border-box;
}

:root{
    --cellSize : 15rem;
    --signSize : calc(var(--cellSize)*0.9);
}


html{
    font-size: 10px;
}

body{
    margin: 0;
    padding: 0;
    background-image: url('../images/moroccan-flower-dark.png');
}
/*****welcome page********/
#welcomePage{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#welcome-container{
    position: relative;
    display: flex;
    height: 50rem;
    width: 60rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 0 10px rgb(115, 201, 235);
    box-shadow: 0 0 5px 1px whitesmoke;
}

#welcomePage input{
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    border-radius: 3px;
    padding: 1.2rem 0.7rem;
    font-size: 1.5rem;
    outline: none;
}
#welcomePage p{
    font-size: 2rem;
}
#btnPlay{
    margin-top: 5rem !important;
}

#title{
    font-family: 'Pacifico', cursive;
    font-size: 10rem;
    margin: 4rem;
}

#buttons{
    margin: 3rem;
}

#welcomePage button{
    margin: 3rem;
    padding: 1.5rem 2rem;
    width: 12rem;
    border-radius: 5px;
    border: 2px solid rgb(28, 64, 184);
    background-color: rgba(10, 186, 255, 0.8);
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    color: whitesmoke;
    box-shadow: 0 0 3px 1px rgb(115, 201, 235);
    cursor: pointer;
}
#welcomePage button:hover{
    background-color: rgb(115, 201, 235);
    color: rgb(54, 39, 39);
    border-color: whitesmoke;
}

/******************/
.page-container{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}   


.page-content{
    padding-bottom: 3.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.score{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 5rem;
   font-family: 'Roboto', sans-serif;
}

.score p {
    margin: 1rem 0.5rem;
    text-shadow: 0 0 10px rgb(115, 201, 235);
}
/***********back*******************/

#backIcon{
    position: absolute;
    top: 4rem;
    left: 4rem;
    cursor: pointer;
}

#backIcon:hover{
    animation: back 0.3s ease-in-out 1 forwards;
}


@keyframes back{
    25%{
        transform: rotate(-20deg);
    }
    75%{
        transform: rotate(20deg);
    }
}


/**************************************/


.board{
    display: grid;
    height: 50rem;
    width: 50rem;
    grid-template-columns: repeat(3, minmax(15rem, 1fr));
    grid-template-rows: repeat(3, minmax(15rem, 1fr));
    border: none;
}

.field{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15rem;
    font-family: 'Roboto', sans-serif;
    border: 3px solid black;
    cursor: pointer;
}

/****   x   ******/
.field.x::after,
.field.field.x::before{
    background-color: black;
    animation: move 0.2s ease-in-out 1 forwards;
}
.board.x .field:not(.x):not(.o):hover::after,
.board.x .field:not(.x):not(.o):hover::before{
    background-color: rgb(115, 201, 235);
}

.field.x::after,
.field.x::before,
.board.x .field:not(.x):not(.o):hover::after,
.board.x .field:not(.x):not(.o):hover::before{
    content: '';
    position: absolute;
    width: calc(var(--signSize)*0.15);
    height: var(--signSize);
}

.field.x::after,
.board.x .field:not(.x):not(.o):hover::after{
    transform: rotate(45deg);
}

.field.field.x::before,
.board.x .field:not(.x):not(.o):hover::before{
    transform: rotate(-45deg);
}

.field.o::after,
.field.o::before,
.board.o .field:not(.x):not(.o):hover::before,
.board.o .field.field:not(.x):not(.o):hover::after{
    content: '';
    position: absolute;
    width:  calc(var(--signSize)*0.9);
    height: calc(var(--signSize)*0.9);
    border-radius: 50%;
 
}

.field.o::after,
.field.o::before{
    animation: move 0.2s ease-in-out 1 forwards;
    border: calc(var(--signSize)*0.15) solid black;
}

.board.o .field:not(.x):not(.o):hover::after,
.board.o .field:not(.x):not(.o):hover::before{
    border: calc(var(--signSize)*0.15) solid rgb(115, 201, 235);
}


.field.x,
.field.o{
    cursor: not-allowed;
}

.field:first-child,.field:nth-child(2),.field:nth-child(3){
    border-top: none;
}
.field:nth-child(3n + 1){
    border-left: none;
}
.field:nth-child(3n){
    border-right: none;
}
.field:nth-child(7),.field:nth-child(8),.field:nth-child(9){
    border-bottom: none;
}

/***************animation***************/
@keyframes move{
    0%{
        transform: scale(0.2);
    }
}


/***************modal Popup*************/

#modalBg{
    position: absolute;
    top: 0;
    display: flex;
    z-index: 3;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(105, 33, 33, 0.25);
    display: none;

}

#modalPopup{
    position: absolute;
    top: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15rem;
    width: 40rem;
    background-color: whitesmoke;
    border-radius: 10px;
    border: 1px solid rgb(17, 14, 14);
    box-shadow: 0 0 1px 2px rgb(28, 64, 184);
    font-size: 4rem;
    font-family: 'Lato', sans-serif;
    background-image: url('../images/cubes.png');
}

#modalPopup p {
    margin: 0.5rem 1rem
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

button{
    margin: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    border: 2px solid rgb(28, 64, 184);
    background-color: rgba(10, 186, 255, 0.5);
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    color: rgb(17, 14, 14);
}

button:hover{
    background-color: rgb(115, 201, 235);
    color: rgb(54, 39, 39);
}


/****************footer***************/
footer div {
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 1rem 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 600;
    background-color: rgba(115, 201, 235, 0.5);
}
/*rgba(39, 131, 236, 0.3);*/
footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
    color: rgb(28, 64, 184);
}