*, *::after, *::before{
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    margin: 0;
    padding: 0;

}

.page-container{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}   

.page-content{
    
    padding-bottom: 3.5rem;
}
/**************************************/


#board{
    display: grid;
    height: 50rem;
    width: 50rem;
    grid-template-columns: repeat(3, minmax(15rem, 1fr));
    grid-template-rows: repeat(3, minmax(15rem, 1fr));
    border: none;
}

.field{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15rem;
    font-family: 'Roboto', sans-serif;
    border: 5px solid black;
}

.field:first-child,.field:nth-child(2),.field:nth-child(3){
    border-top: none;
}
.field:first-child,.field:nth-child(4),.field:nth-child(7){
    border-left: none;
}
.field:nth-child(3),.field:nth-child(6),.field:nth-child(9){
    border-right: none;
}
.field:nth-child(7),.field:nth-child(8),.field:nth-child(9){
    border-bottom: none;
}









/****************footer***************/
footer div {
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 1rem 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 600;
    background-color: rgba(236, 81, 81, 0.3);
}
/*rgba(39, 131, 236, 0.3);*/
footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
    color: rgb(28, 64, 184);
}