html{
    font-size: 10px;
}

body{
    margin: 0;
    padding: 0;

}

.page-container{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}   

.page-content{
    
    padding-bottom: 3.5rem;
}
/**************************************/


#board{
    display: grid;
    grid-template-columns: repeat(3, minmax(10rem, 1fr));
    grid-template-rows: repeat(3, minmax(10rem, 1fr));
}

.field{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    font-family: 'Lato' sans-serif;
    border: 3px solid blue;

}



















/****************footer***************/
footer div {
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 1rem 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 600;
    background-color: rgba(236, 81, 81, 0.3);
}
/*rgba(39, 131, 236, 0.3);*/
footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
    color: rgb(28, 64, 184);
}